.question {
    border: solid lightgray !important;
}

.no-answers {
    border: 2px solid lightgray;
    border-radius: 8px;
    font-size: 1.5em;
    color: gray;
}

.answer {
    border-radius: 10px;
    border: solid #efefef;
    margin: 5px 5px 25px 55px;
    padding: 20px 10px;
}

.avatar-user {
    width: 100%;
    border: solid 2px gray;
    border-radius: 3px;
    margin: 5px 5px 15px 5px;
}

.answer-correct-checkbox-text {
    margin: 2px 5px;
}

.cb-correct-answer:disabled {
    opacity: 1 !important;
}

.answer-correct-checkbox-text {
    margin: 2px 5px;
    opacity: 1 !important;
}

.author-name {
    color: gray;
    text-decoration: orange;
}