.username {
    margin: 0px 10px;
    color: darkorange;
}

.settings-field {
    margin-bottom: 15px;
}

.avatar-user-container {
    padding: 10px;
}

.avatar-user-preview {
    width: 50%;
    height: auto;
    border: solid gray;
    border-radius: 8px;
}

.action-btn {
    margin-top: 5%;
    display: inline-block;
    margin-right: 10px;
}

.field-title {
    font-size: 1.2em;
    padding: 15px 10px;
}

.field-content {

    font-size: 1.2em;
    color: #222222;
    padding: 15px 10px;
}
