
.question {
    border: 3px solid gray;
    border-radius: 5px;
    margin: 5px 5px 25px 5px;
    padding: 10px;
}

.question-text {
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    overflow-wrap: break-word;
}

.avatar-question {
    width: 100%;
    border: solid 2px gray;
    border-radius: 3px;
    margin: 5px 5px 15px 5px;
}

.tag {
    border: solid lightgray;
    text-align: center;
    border-radius: 8px;
    padding: 5px;
    display: inline-block;
    margin: 2px 3px;
}

.answers {
    display: inline-block;

    text-decoration: underline darkorange;
    padding: 5px 2px;
}

.answers-counter {
    color: #8c8a8a;
}
