{% extends "inc/base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block title %}
    <title>New Question</title>
{% endblock title %}

{% block custom_styles %}
    <link href="{% static "css/ask.css" %}" rel="stylesheet">
{% endblock custom_styles %}

{% block content %}
    <hr>
    <h2>New question</h2>
    <div class="row new-question-field">
        <form action="{% url "ask" %}" method="post">
            {% csrf_token %}
            <div class="row question-field">
                {% bootstrap_form content.ask_form %}
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-5 d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Submit!</button>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}
