{% extends "inc/base.html" %}
{% load static %}

{% block title %}
    <title>Askme George</title>
{% endblock title %}

{% block custom_styles %}
    <link rel="stylesheet" href="{% static "/css/sp_hottags_actusers.css" %}">
    <link rel="stylesheet" href="{% static "/css/question.css" %}">
    <link rel="stylesheet" href="{% static "/css/index.css" %}">
    <link href="{% static "css/pages.css" %}" rel="stylesheet">
{% endblock custom_styles %}

{% block content %}
    <div class="row">
        <div class="col-6">
            <h2>Questions</h2>
        </div>
        <div class="col-6">
            <a href="hot/"><h3 class="a-hot">Hot questions</h3></a>
        </div>
    </div>

    {% for question in questions_list %}
        {% include "inc/question.html" %}
    {% endfor %}

    {% include "inc/paginator_questions.html" %}

{% endblock content %}

{% block side_panel %}
    {% include "inc/sp_hottags_actusers.html" %}
{% endblock side_panel %}