{% extends "inc/base.html" %}
{% load static %}

{% block title %}
    <title>Question: {{ content.question.title }}</title>
{% endblock title %}

{% block custom_styles %}
    <link href="{% static "css/paginator.css" %}" rel="stylesheet">
    <link href="{% static "css/answer.css" %}" rel="stylesheet">
    <link href="{% static "css/question.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "/css/rating_counter.css" %}">
    <link href="{% static "css/question_page.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "/css/sp_hottags_actusers.css" %}">
{% endblock custom_styles %}

{% block content %}

    {% with question=content.question %}
        {% include "inc/question.html" %}
    {% endwith %}
    <br>
    <hr>
    <br>
    <h2>Answers:</h2>

    {% for answer in content.answers %}
        {% include "inc/answer.html" %}
    {% endfor %}

    {% with content=content.answers %}
        {% include "inc/paginator.html" %}
    {% endwith %}

    <div class="row answer your-answer">
        <form action="">
            <div class="row">
                <div class="form-group">
                    <label for="yourAnswer">Your answer:</label>
                    <textarea class="form-control" id="yourAnswer" rows="3"></textarea>
                </div>
            </div>
            <div class="row submit-your-answer">
                <div class="col-3">
                    <button type="submit" class="btn btn-primary">Submit!</button>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}
