{% extends "inc/base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block title %}
    <title>Question: {{ content.question.title }}</title>
{% endblock title %}

{% block custom_styles %}
    <link href="{% static "css/paginator.css" %}" rel="stylesheet">
    <link href="{% static "css/answer.css" %}" rel="stylesheet">
    <link href="{% static "css/question.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "/css/rating_counter.css" %}">
    <link href="{% static "css/question_page.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "/css/sidebar_right.css" %}">
{% endblock custom_styles %}

{% block content %}
    <div class="question-and-answers-field">
        {% with question=content.question %}
            {% include "inc/question.html" %}
        {% endwith %}
        <br>
        <hr>
        <br>
        <h2>Answers:</h2>

        {% if content.answers %}
            {% for answer in content.answers %}
                {% with this_user=content.this_user %}
                    {% include "inc/answer.html" %}
                {% endwith %}
            {% endfor %}

            {% with content=content.answers %}
                {% include "inc/paginator.html" %}
            {% endwith %}
        {% else %}
            <div class="row mt-4 mb-4 p-2 justify-content-center no-answers">
                There is no answers... Be first!
            </div>
        {% endif %}

        {% if content.this_user.is_authenticated %}
            <div class="row answer your-answer">
                <form action="{% url "question" content.question.id %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="form-group">
                            {% bootstrap_form content.answer_form %}
                        </div>
                    </div>
                    <div class="row submit-your-answer d-flex justify-content-center">
                        <div class="col-5 d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary">Suggest!</button>
                        </div>
                    </div>
                </form>
            </div>
        {% endif %}
    </div>
{% endblock content %}
