{% extends "inc/base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block title %}
    <title>Question: {{ content.question.title }}</title>
{% endblock title %}

{% block custom_styles %}
    <link href="{% static "css/paginator.css" %}" rel="stylesheet">
    <link href="{% static "css/answer.css" %}" rel="stylesheet">
    <link href="{% static "css/question.css" %}" rel="stylesheet">
    <link href="{% static "css/rating_counter.css" %}" rel="stylesheet">
    <link href="{% static "css/question_page.css" %}" rel="stylesheet">
{% endblock custom_styles %}

{% block content %}
    <div class="question-and-answers-field">
        {% with question=content.question %}
            {% include "inc/question.html" %}
        {% endwith %}
        <br>
        <hr>
        <br>
        <h2>Answers:</h2>
        <div class="answers-col">
            {% if content.answers %}
                {% for answer in content.answers %}
                    {% with this_user=content.this_user %}
                        {% include "inc/answer.html" %}
                    {% endwith %}
                {% endfor %}
            {% else %}
                <div class="row mt-4 mb-4 p-2 justify-content-center no-answers">
                    There is no answers... Be first!
                </div>
            {% endif %}
        </div>
        {% with content=content.answers %}
            {% include "inc/paginator.html" %}
        {% endwith %}

        {% if content.this_user.is_authenticated %}
            <div class="row answer your-answer">
                <form action="{% url "question" content.question.id %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="form-group">
                            {% bootstrap_form content.answer_form %}
                        </div>
                    </div>
                    <div class="row submit-your-answer d-flex justify-content-center">
                        <div class="col-5 d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary">Suggest!</button>
                        </div>
                    </div>
                </form>
            </div>
        {% endif %}
    </div>
{% endblock content %}

{% block scripts %}
    {% if content.this_user and content.this_user.is_authenticated %}
        <script>
            var centrifuge = new Centrifuge("ws://127.0.0.1:8000/connection/websocket");

            centrifuge.setToken("{{ content.cent_token }}")
            centrifuge.subscribe("{{ content.cent_chan }}", function (msg) {
                console.log(msg);
                var template = `
                <div class="row answer" id="${msg.data['answer_id']}">
                <div class="row">
                <div class="col-4">
                <div>
                <img src="${msg.data['author_avatar']}" alt="" class="avatar-user">
                </div>
                <div class="d-flex mt-2 mb-2 justify-content-center">
                <a href="{% url "profile"%}${msg.data['author_name']}" class="author-name">
                   ${msg.data['author_name']}
                </a>
                </div>
                </div>
                <div class="col-8">
                <p>${msg.data['text']}</p>
                </div>
                </div>
                <div class="row">
                <hr>
                <div class="col-4">
                <div class="d-flex justify-content-center">
                <form method="post">
                    {% csrf_token %}
                <button class="btn-rate like" data-obj_id='${msg.data['answer_id']}' data-obj_name='answer'
                data-action_name='like' type="button">
                <img src="{% static "img/like.jpg" %}" alt=""
                class="rating-counter-icon">
                <val class="text-like">
                ${msg.data['likes']}
                </val>
                </button>
                <button class="btn-rate dislike" data-obj_id="${msg.data['answer_id']}" data-obj_name="answer"
                data-action_name="dislike" type="button">
                <img src="{% static "img/dislike.jpg" %}" alt=""
                class="rating-counter-icon">
                <val class="text-dislike">
                ${msg.data['dislikes']}
                </val>
                </button>
                </form>
                </div>
                </div>
                <div class="col-4 date">
               ${msg.data['date']}
                </div>
                <div class="col-4">
                <div class="form-check d-flex justify-content-center">
                <form method="post">
                    {% csrf_token %}
                <input class="form-check-input cb-correct-answer" data-answer_id="${msg.data['answer_id']}"
                type="checkbox" value="" id="${msg.data['answer_id']}_is_correct"
                >
                <label class="answer-correct-checkbox-text form-check-label" for="${msg.data['answer_id']}_is_correct">
                Answer correct!
                </label>
                </form>
                </div>
                </div>
                </div>
                </div>
                `;
                {#-------------------------------------#}
                $('.no-answers').remove();
                $(template).appendTo($('.answers-col'))
            });
            centrifuge.connect();
        </script>
    {% endif %}
{% endblock scripts %}