{% extends "inc/base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block title %}
    <title>Settings: {{ content.this_user.username }}</title>
{% endblock title %}

{% block custom_styles %}
    <link href="{% static "css/profile.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "/css/sidebar_right.css" %}">
{% endblock custom_styles %}

{% block content %}
    <hr>
    <div class="row">
        <div class="col-3">
            <h2>Settings:</h2>
        </div>
        <div class="col-9">
            <h2 class="username">{{ content.this_user.username }}</h2>
        </div>
    </div>
    <div class="row">
        <form action="{% url "settings" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form content.settings_form %}
            <div class="row justify-content-center">
                <img src="{{ MEDIA_URL }}{{ content.this_user.avatar.url }}" alt=""
                     class="avatar-user-preview justify-content-center"
                     id="avatar-preview">
                <script>
                    var loadFile = function (event) {
                        var output = document.getElementById('avatar-preview');
                        output.src = URL.createObjectURL(event.target.files[0]);
                        output.onload = function () {
                            URL.revokeObjectURL(output.src) // free memory
                        }
                    };
                </script>
            </div>
            <div class="row settings-field d-flex justify-content-center">
                <div class="col-6 d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary action-btn">Save!</button>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}
