{% extends "inc/base.html" %}
{% load static %}

{% block title %}
    <title>Askme George : top questions</title>
{% endblock title %}

{% block custom_styles %}
    <link rel="stylesheet" href="{% static "/css/sidebar_right.css" %}">
    <link rel="stylesheet" href="{% static "/css/question.css" %}">
    <link rel="stylesheet" href="{% static "/css/paginator.css" %}" >
    <link rel="stylesheet" href="{% static "/css/rating_counter.css" %}">
{% endblock custom_styles %}

{% block content %}
    <div class="row">
        <div class="col-6">
            <h2>Top questions</h2>
        </div>
    </div>
    {% include "inc/questions_field.html" %}
{% endblock content %}
