{% load static %}

<div class="row answer" id="{{ answer.id }}">
    {#    <a href="#{{ answer.id }}" hidden></a>#}
    <div class="row">
        <div class="col-4">
            <div>
                <img src="{{ MEDIA_URL }}{{ answer.author.avatar.url }}" alt="" class="avatar-user">
            </div>
            <div class="d-flex mt-2 mb-2 justify-content-center">
                <a href="{% url "profile" answer.author.username %}" class="author-name">
                    {{ answer.author.username }}
                </a>
            </div>
        </div>
        <div class="col-8">
            <p>{{ answer.text }}</p>
        </div>
    </div>
    <div class="row">
        <hr>
        <div class="col-4">
            <div class="d-flex justify-content-center">
                <form method="post">
                    {% csrf_token %}
                    <button class="btn-rate like" data-obj_id='{{ answer.id }}' data-obj_name='answer'
                            data-action_name='like' type="button">
                        <img src="{% static "img/like.jpg" %}" alt=""
                             class="rating-counter-icon">
                        <val class="text-like">
                            {{ answer.rating.get_likes.count }}
                        </val>
                    </button>
                    <button class="btn-rate dislike" data-obj_id="{{ answer.id }}" data-obj_name="answer"
                            data-action_name="dislike" type="button">
                        <img src="{% static "img/dislike.jpg" %}" alt=""
                             class="rating-counter-icon">
                        <val class="text-dislike">
                            {{ answer.rating.get_dislikes.count }}
                        </val>
                    </button>
                </form>
            </div>
        </div>
        <div class="col-4 date">
            {{ answer.date|date:"d.m.Y G:i"  }}
        </div>
        <div class="col-4">
            <div class="form-check d-flex justify-content-center">
                <form method="post">
                    {% csrf_token %}
                    <input class="form-check-input cb-correct-answer" data-answer_id="{{ answer.id }}"
                           type="checkbox" value="" id="{{ answer.id }}_is_correct"
                            {% if answer.isCorrect %}
                           checked {% endif %} {% if this_user != answer.question.author %} disabled {% endif %}>
                    <label class="answer-correct-checkbox-text form-check-label" for="{{ answer.id }}_is_correct">
                        Answer correct!
                    </label>
                </form>
            </div>
        </div>
    </div>
</div>