{% load static %}
<div class="container">
    <!--        <div class="row">-->
    <!--            <div class="col-3"></div>-->
    <!--            <div class="col-8">-->
    <!--                <span class="pages"><a href=""><</a></span>-->
    <!--                <span class="pages"><a href="">1</a></span>-->
    <!--                <span class="pages">...</span>-->
    <!--                <span class="pages"><a href="">10</a></span>-->
    <!--                <span class="pages"><a href="">></a></span>-->
    <!--            </div>-->
    <!--        </div>-->
</div>