{% load static %}
<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark navbar-fix bg-dark">
        <div class="container-fluid">

            <a class="navbar-brand" href="{% url "index" %}">
                <img src="{% static "/img/logo.png" %}" alt="" class="logo-icon">
                <small>Askme George</small>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-center" id="navbarCollapse">
                <form class="d-flex w-auto" method="get" action="{% url 'search' %}">
                    <img src="{% static "/img/search.png" %}" alt="" class="search-icon">
                    <input name="find" class="form-control me-2 search-form" type="text" placeholder="Search question"
                           aria-label="Search">

                    <button class="btn btn-outline-success" type="submit">Go!</button>
                </form>
                <div class="navbar-text ask-btn">
                    <a href="{% url "ask" %}">
                        <button class="btn btn-outline-success" type="button">Ask</button>
                    </a>
                </div>
                <div class="navbar-nav ms-auto nav-item">
                    <div class="row">
                        {% if request.user.is_authenticated %}
                            <div class="row">
                                <div class="col-5 justify-content-center">
                                    <img src="{{ MEDIA_URL }}{{ content.this_user.avatar.url }}" alt="User avatar"
                                         class="user-avatar">
                                </div>
                                <div class="col-7">
                                    <div class="row justify-content-center navbar-text">
                                        {{ content.this_user.username }}
                                    </div>
                                    <div class="row navbar-text">
                                        <div class="col-6 justify-content-center">
                                            <a href="{% url "profile" %}" class="a-control navbar-text me-2">Profile</a>
                                        </div>
                                        <div class="col-6 justify-content-center">
                                            <a href="{% url 'logout' %}" class="a-control navbar-text ms-2">Logout</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="row">
                                <div class="navbar-text d-flex justify-content-center">
                                    You're not logged in
                                </div>
                                <div class="navbar-text d-flex justify-content-center">
                                    <a href="{% url "login" %}"
                                       class="a-control navbar-text">Please,
                                        login</a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>