{% load static %}
<div class="row">
    <div class="d-flex justify-content-center">
        <div class="pagination">
        <span class="step-links">

            <span class="pages"><a href="?page=1">1</a> </span>

            {% if content.has_previous %}
                <span class="pages" id="prev-page"><a
                        href="?page={{ content.previous_page_number }}"> < </a> </span>
            {% endif %}
            {% if not content.has_previous %}
                <span class="pages disabled"><</span>
            {% endif %}

            <span class="current">
                <span class="pages">Page {{ content.number }} of {{ content.paginator.num_pages }}. </span>
            </span>

            {% if content.has_next %}
                <span class="pages" id="next-page"><a href="?page={{ content.next_page_number }}"> > </a> </span>
            {% endif %}
            {% if not content.has_next %}
                <span class="pages disabled"> > </span>
            {% endif %}

            <span class="pages"><a
                    href="?page={{ content.paginator.num_pages }}">{{ content.paginator.num_pages }}</a> </span>

          </span>
        </div>
    </div>
</div>
