{% load static %}

<div class="row question">
    <div class="row">
        <div class="col-3">
            <img src="{% static 'img/question-' %}{{ question.img_id }}.jpg" alt="" class="avatar-question">
        </div>
        <div class="col-9">
            <h3><a href="{% url "question" question.id %}" class="a-question">{{ question.title }}</a></h3>
            <p>{{ question.text }}</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-3 d-flex justify-content-center">
            <div>
            <span class="like-counter"><a href=""><img src="{% static "img/like.jpg" %}" alt=""
                                                       class="like-counter-icon"></a>{{ question.like_count }}</span>
            </div>
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-5 d-flex justify-content-center">
                    <span class="answers text-nowrap"><a href="/question/{{ question.id }}">See answers: <ans
                            class="answers-counter">{{ question.answers_count }}</ans></a></span>
                </div>
                <div class="col-7">
                    <span>Tags:</span>
                    <span class="tag"><a href="/tag.html">Cars</a></span>
                    <span class="tag"><a href="">Help</a></span>
                    <span class="tag"><a href="">Help</a></span>
                    <span class="tag"><a href="">Help</a></span>
                    <span class="tag"><a href="">Help</a></span>
                    <span class="tag"><a href="">Help</a></span>
                </div>
            </div>
        </div>
    </div>
</div>