{% load static %}

<div class="row question">
    <div class="row">
        <div class="col-4">
            <img src="{% static 'img/question-' %}{{ question.img_id }}.jpg" alt="" class="avatar-question">
        </div>
        <div class="col-8">
            <h3><a href="{% url "question" question.id %}" class="a-question">{{ question.title }}</a></h3>
            <p>{{ question.text }}</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-4 d-flex justify-content-center">
            <div>
            <span class="rating-counter likes"><a href=""><img src="{% static "img/like.jpg" %}" alt=""
                                                       class="rating-counter-icon"></a>{{ question.like_count }}</span>
                <span class="rating-counter dislikes"><a href=""><img src="{% static "img/dislike.jpg" %}" alt=""
                                                           class="rating-counter-icon"></a>{{ question.dislike_count }}</span>
            </div>
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-5 d-flex justify-content-center">
                    <span class="answers text-nowrap"><a href="{% url "question" question.id %}">See answers: <ans
                            class="answers-counter">{{ question.answers_count }}</ans></a></span>
                </div>
                <div class="col-7">
                    <span>Tags:</span>
                    {% for tag in question.tags %}
                        <span class="tag"><a href="{% url "tag" tag %}">{{ tag }}</a></span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>