{% load static %}
<div class="row">
    <h2>Hot tags:</h2>
    <div class="hot-tags">
                    <span>
                        <span class="hot-1"><a href="./tag.html" class="tag">Cars</a></span>
                        <span class="hot-2"><a href="" class="tag">Women</a></span>
                        <span class="hot-3"><a href="" class="tag">Habr</a></span>
                        <span class="hot-1"><a href="" class="tag">Vk</a></span>
                    </span>
    </div>
</div>
<div class="row">
    <h2>Active users:</h2>
    <a href="" class="a-active-user">George</a>
    <a href="" class="a-active-user">Lev</a>
    <a href="" class="a-active-user">Andry</a>
</div>