{% load static %}
<div class="row">
    <h2>Hot tags:</h2>
    <div class="hot-tags">
                    <span>
                        {% for hot in hot_tags %}
                            <span class="hot-{{ hot.level }}"><a href="{% url "tag" hot.name %}" class="tag">{{ hot.name }}</a></span>
                        {% endfor %}
                    </span>
    </div>
</div>
<div class="row">
    <h2>Active users:</h2>
    {% for user in active_users %}
        <a href="" class="a-active-user">{{ user.name }}</a>
    {% endfor %}
</div>